@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

* {
	/* Terminus everywhere */
	font-family: "Terminus" !important;
	font-size: 12px !important;
}

/* auto-hide the bookmarks bar */
#PersonalToolbar {
	visibility: collapse !important;
}
#navigator-toolbox:hover > #PersonalToolbar {
	visibility: visible !important;
}

/*remove internal border*/
#main-window:not([chromehidden*="toolbar"])[sizemode="normal"]
{
	margin-top:-1px!important;
	margin-left:-1px!important;
	margin-right:-1px!important;
	margin-bottom:-1px !important;
}

/* hide a bunch of UI elements */
#back-button, #forward-button, #urlbar-reload-button,
#urlbar-stop-button, #urlbar-go-button, #new-tab-button,
#reader-mode-button, #TabsToolbar .tabs-newtab-button {
	display: none !important;
}

#TabsToolbar:not(:-moz-lwtheme)::after
{
	display: none;
}

.tabbrowser-tabs:not([drag=detach]) > .tabbrowser-tab:not([pinned])[fadein] {
	min-width: 10px !important;
	max-width: 100% !important;
}

/* tab bar: nuke the padding, tab shaping, etc, and color them up */
#TabsToolbar {
    margin-bottom: 0 !important;
}

#TabsToolbar .tabbrowser-tabs {
    min-height: 18px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    text-align: center !important;
    margin-left: -15px !important;
    margin-right: -15px !important;
}

#TabsToolbar .tabbrowser-tab {
    -moz-border-top-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-bottom-colors: none !important;
    padding: 0px 0px !important;
    border-radius: 0px !important;
    background-color: #333333 !important;
    background-clip: padding-box !important;
    transition: all .1s !important;
    margin-left: 0px !important;
    color: #87afaf !important;
    min-height: 14px !important;
}

#TabsToolbar .tabbrowser-tab[selected] {
    color: #3f3f3f !important;
    background: #87afaf !important;
    background-clip: padding-box !important;
}

#TabsToolbar .tabs-newtab-button:hover,
#TabsToolbar .tabbrowser-tab:hover:not([selected]) {
    background-color: #3f3f3f !important;
    color: #dcdccc !important;
}

#TabsToolbar .tab-background {
    margin: 0 !important;
    background: transparent !important;
}

#TabsToolbar .tab-background-start,
#TabsToolbar .tab-background-end {
    display: none !important;
}

#TabsToolbar .tab-background-middle {
    margin: -4px -2px !important;
    background: transparent !important;
}

#TabsToolbar .tabbrowser-tab:after,
#TabsToolbar .tabbrowser-tab:before {
    display: none !important;
}

/* color setup for remaining bars */
#addon-bar,
#PersonalToolbar,
#nav-bar {
    background: #333333 !important;
	color: #87afaf !important;
    box-shadow: none !important;
    background-clip: padding-box !important;
    border-color: rgba(0,0,0,.25) !important;
    border-radius: 0 !important;
}

/* shorten the padding on "show all history" and "show all bookmarks"
 * footer buttons on those panel menus */
.subviewbutton.panel-subview-footer {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

/*set colors and padding for url bar text box and its containing panel*/
#nav-bar {
    border-bottom: none !important;
    border-top: none !important;
    margin-bottom: -2px !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
	padding-bottom: 0px !important;
    height: 18px !important;
}

#urlbar {
	border: 0px solid #FBFBFB !important;
	text-align: left;
	background: #3f3f3f !important;
	margin-top: 0px !important;
	margin-left: 5px !important;
	border-radius: 1px;
	margin-bottom: 6px;
	padding: 2px !important;
	color: #dcdccc !important;
	height: 18px !important;
}

/* kill padding on bookmarks toolbar items */
#PersonalToolbar {
    border-bottom: none !important;
    border-top: none !important;
    margin-bottom: -2px !important;
    margin-top: -2px !important;
    padding-top: 2px !important;
	padding-bottom: 0px !important;
	padding-left: 2px !important;
    height: 24px !important;
}

#PlacesToolbar .bookmark-item {
	padding: 0px 1px !important;
	border: 0px !important;
	margin-top: -4px !important;
	margin-bottom: 4px !important;
	-moz-appearance: none !important;
}

#PlacesToolbar .bookmark-item:hover {
    background-color: #3f3f3f !important;
    color: #dcdccc !important;
}

#PlacesToolbar .bookmark-item .toolbarbutton-multiline-text {
	margin: 0px !important;
}

/* to remove favicons from the bookmarks toolbar
#PlacesToolbar .bookmark-item .toolbarbutton-icon {
	display: none !important;
}
*/

/* the ssl box gets reskinned and reclassed when you're on a page with an EV cert */
#identity-box.verifiedIdentity {
	background-color: #7f9f7f !important;
	color: #3f3f3f !important;
	padding-left: 5px !important;
	margin-top: -3px !important;
	margin-left: -1px !important;
	margin-bottom: -2px !important;
}

/*make the menu-panel button smaller so it looks better*/
#PanelUI-button {
    background-position: 100% 0, calc(100% - 1px) 0, calc(100% - 2px) 0;
    background: url('panel-default.png') !important; /*from original: http://i.imgur.com/TkuW5hs.png*/
    background-repeat: no-repeat !important;
    background-position: center !important;
    box-shadow: none !important;
    margin-top: 1px !important;
    width: 10px !important;
}
#PanelUI-button:hover {
    background-position: 100% 0, calc(100% - 1px) 0, calc(100% - 2px) 0;
    background: url('panel-hover.png') !important; /*from original: http://i.imgur.com/h8J7fda.png*/
    background-repeat: no-repeat !important;
    background-position: center !important;
    box-shadow: none !important;
    width: 10px !important;
}

#PanelUI-button .button-icon,
#PanelUI-button .button-text {
    display: none !important;
}
#PanelUI-menu-button {
    opacity: 0 !important;
    width: 10px !important;
    margin-right: -10px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

/*likewise for the downloads button*/
#downloads-button {
    background: url('downloads-default.png') !important; /*from original: http://i.imgur.com/QA0QFij.png*/
    background-repeat: no-repeat  !important;
    background-position: center !important;
    opacity: 1 !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    box-shadow: none !important;
    width: 10px !important;
}

#toolbarbutton-icon .Downloads,
#downloads-indicator-icon,
#downloads-indicator-progress-area {
    display: none !important;
}

#downloads-button .toolbarbutton-icon {
    opacity: 0 !important;
    width: 10px !important;
}

#downloads-indicator-anchor {opacity: 0 !important;}

#downloads-button:hover {
    opacity: 1 !important;
    box-shadow: none !important;
    background: url('downloads-hover.png') !important; /*from original: http://i.imgur.com/sTi4rOA.png*/
    background-repeat: no-repeat !important;
    background-position: center !important;
}
